*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
html, body{
    overflow-x: hidden;
}

button{
    cursor: pointer;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE3EE;
}